<div class="container-fluid h-100 w-100 px-0">
  <div class="row no-gutters h-100 w-100">
    <div class="col-md-6 col-sm-12 px-5 d-flex flex-column justify-content-center">
      <h1 class="display-3">What Do?</h1>
      <small class="text-muted mb-3">If you're too hipster for Keep.</small>
      <span class="border-top my-4"></span>
      <p class="text-muted mt-4">What Do? is a simple to-do app for busy people.</p>
      <a class="btn btn-secondary" href="users/sign_up" role="button">Sign Up</a>
    </div>

    <div class="col-md-6 col-sm-12 px-5 d-flex flex-column justify-content-center bg-dark text-light">
      <%= render "devise/shared/login" %>
    </div>
  </div>
</div>
