// Place all the styles related to the whatdo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import 'colors';

.divider {
  border-bottom: 2px solid lightgrey;
  color: grey
}

.list-title {
  margin-left: 5px;
  padding: 10px 0;
  border-bottom: 2px solid $dark;
  width: 100%;
}

.done-cards {
  filter: opacity(50%);
}
